<!doctype html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	do_something();

});


function do_something(){
    $.ajax({
        type: 'POST',
        url: '/do_something/',
        contentType:"application/json;charset=UTF-8",
        data: JSON.stringify("un string MEGA cojonundo!!!!"),
        success: function(data) {
            console.log("DONE!")
        },
        dataType: 'json'
    });
}


</script>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}

