
<!doctype html>
<html>
<body>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<title>Fairyteller</title>
<h1>Fairyteller!</h1>

<form>
<button id="button" onclick="toggleStartStop()"></button>
<input type="file" id="fileinput" />
<br><br>
<div style="border:dotted;padding:10px">
<span id="final_span"></span>
<span id="interim_span" style="color:grey"></span>
</div>
<br><br><br>
<div style="border:dotted;padding:10px">
<span id="fairy_tale"></span>
</div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='speech_recognition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='read_textfile.js') }}"></script>


</body>
</html>


